<h1>CaseWorx</h1>
	<% if user_signed_in? %>
	<br><%= link_to "Clients", clients_path %></br>
          
     <% else %>
		<p>
			<%= link_to "Log in", new_user_session_path %>
			<%= link_to "Sign up", new_user_registration_path %>
		</p>
	<% end %>